replicaCount: 1

fullnameOverride: papers

imagePullSecrets:
  - name: ghcr-login-secret

podAnnotations:
  sidecar.istio.io/proxyCPU: "0m"

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

autoscaling:
  enabled: false

database:
  host: supabase-supabase-db
  port: 5432
  name: postgres
  sslMode: disable
  secretName: supabase-db
  userKey: username
  passwordKey: password

email:
  host: smtp.purelymail.com
  port: 465
  tls: true
  secretName: supabase-smtp
  userKey: username
  passwordKey: password
  hostKey: host
  portKey: port
  secureKey: secure

supabase:
  secretName: supabase-jwt
  serviceRoleKey: serviceKey

worker:
  enabled: true
  replicaCount: 1
  nodeEnv: production
  supabaseUrl: https://api.paper.observer
  pollIntervalMs: 30000
  opentelemetry:
    endpoint: "https://otlp-gateway-prod-au-southeast-1.grafana.net/otlp"
    tracesExporter: otlp
    headers: "Authorization=Basic MTQ0MDUyOTpnbGNfZXlKdklqb2lNVFU1TVRVNU5TSXNJbTRpT2lKNWIzVnlMV2R5WVdaaGJtRXRkRzlyWlc0aUxDSnJJam9pVFhWWVZ6QjVkalF6UzFBNU5FVm9PVFJWT0Zvd1RsWXpJaXdpYlNJNmV5SnlJam9pY0hKdlpDMWhkUzF6YjNWMGFHVmhjM1F0TVNKOWZRPT0="
    resourceAttributes: "service.name=papers-worker,service.namespace=papers"
    nodeResourceDetectors: "env,host,os"
oauth:
  secretName: supabase-oauth
  google:
    clientIdKey: google-client-id
    secretKey: google-secret
  github:
    clientIdKey: github-client-id
    secretKey: github-secret

initContainers:
  migrations:
    enabled: true
